<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="column left">
        <h1>Professionelle projekter</h1>

        <h3>Ferie Kalender i Excel</h3>
        <img class="ExcelArkIMG" src="assets/projects/Hele_aaret_Eksempel.png" alt="Hele_aaret_Eksempel">
        <img class="ExcelArkIMG" src="assets/projects/Maaned_Eksempel.png" alt="Maaned_Eksempel">
        <p>Fik til arbejdsopgave at lave en kalender til ferie registring i excel for en intruktør hos tec.</p>
        <p>Den går fra September til og med August, så den dækker ferie året. og har en samlet for hele året med tæller
            for samlet ferie brugt.</p>
        <p>Download virker, bare ingen forvisning pga google drev.</p>
        <a href="https://drive.google.com/file/d/1E7YyM4ZZZbRk8cmTzmy517YX0OiMhuom/view">Excel Kalender</a>

    </div>

    <div class="column right">
        <h1>Private projekter</h1>

        <h3>Simpelt Runner spil lavet med WPF.</h3>
        <img class="SimpeltRunnerIMG" src="assets/projects/simpelt_Runner_Spil_WPF.png" alt="simplet runner game photo">
        <p>Spillet har ikke de vilde funktioner, du har en spiller der kan hoppe,
            nogle forskellige genstande du hopper over (skilt og en tønde) og du for 1 point for vær genstand du
            hopper over.</p>
        <p>Var igang med en WPF opgave i skolen og ville prøve og lave et lille spil
            fandt en guide med lidt assets til animation, og guide til hvordan canvas virker.</p>
    </div>

</body>

</html>