<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">
        <div class="column left">
            <h1>Professionelle projekter</h1>
            <h3>Udlåns-side</h3>
            <div id="carouselExampleControls" class="carousel-container " data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <img class="imgcarousel" st src="{{ getSlide() }}" alt="slide">
                </div>

                <ul>
                    <li><button (click)='getPrev()'>Prev</button></li>
                    <li><button (click)='getNext()'>Next</button></li>
                </ul>

                <p>Lavet i php ville ligge dokumentation, men har ikke en censureret version, så kan ikke.</p>
            </div>
        </div>

        <div class="column right">
            <h1>Private projekter</h1>

            <h3>Simpelt Runner spil lavet med WPF.</h3>
            <img class="SimpeltRunnerIMG" src="assets/projects/simpelt_Runner_Spil_WPF.png"
                alt="simplet runner game photo">
            <p>Spillet har ikke de vilde funktioner, du har en spiller der kan hoppe,
                nogle forskellige genstande du hopper over (skilt og en tønde) og du for 1 point for vær genstand du
                hopper over.</p>
            <p>Var igang med en WPF opgave i skolen og ville prøve og lave et lille spil
                fandt en guide med lidt assets til animation, og guide til hvordan canvas virker.</p>
            <a class="link" href="https://github.com/lahi1998/Simpelt_runner_WPF">Github</a>

            <h3>JavaScript side</h3>
            <a href="https://lahi1998.github.io/JavaScript/"><img class="JS-icon" src="assets/projects/JS-icon.png"
                    alt="JavaScript icon"></a>
            <p>Sat en hjemmeside op med lidt JavaScript. Tryk på billed for at gå
                til siden.</p>
            <p>Alt text og kode er dog på engelsk.</p>

            <h3>SnakeGame JS Browser</h3>
            <a href="https://lahi1998.github.io/SnakeGame_Javascript/"><img class="snakeJSIMG"
                    src="assets/projects/SnakeJS.PNG" alt="snake game img with link to game"></a>
            <p>ikke optimieret tager lidt tid og load backgrund, tryk på billed for at spille.</p>
        </div>
    </div>

</body>

</html>
