.column {
    float: left;
    background-color: #668c3e;
}

.left {
    width: 50%;
    height: 150vh;
}

.right {
    width: 50%;
    height: 150vh;
}

h1 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
}

.link{
    color: lightblue;
    font-weight: bold;
    margin-left: 5vw;
    margin-right: 5vw;
}

.ExcelArkIMG {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.SimpeltRunnerIMG{
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.JS-icon{
    width: 70%;
    height: auto;
    margin-left: 15%;
}