<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Left side CV-->
    <div class="column left"></div>

    <style>
        #CVPDF {
            width: 100%;
            height: 975px;
        }
    </style>

    <!-- Middle side CV-->
    <div class="column middle">
        <iframe id="CVPDF" src="assets/cv/Lars_cv.pdf" frameborder="0"></iframe>

    </div>


    <!-- Right side CV-->
    <div class="column right"></div>

</body>

</html>