<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Left side CV-->
    <div class="column left">
        <a class="link" href="assets/cv/Lars_cv.pdf">
            <p class="Download-link">Download CV</p>
        </a>
    </div>

    <!-- Middle side CV-->
    <div class="column middle">
        <img class="IMG_CV" src="assets/cv/CV_billed.png" alt="Billed af CV">
        <img class="IMG_CV" src="assets/cv/CV_billed2.png" alt="Billed af CV">

    </div>


    <!-- Right side CV-->
    <div class="column right"></div>

</body>

</html>