.column {
    float: left;
}

.middle {
    width: 60%;
    height: auto;
    background-color: #668c3e;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#CVPDF {
    width: 100%;
    height: 975px;
}